<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056409113251-bglp1khlj6ab6s301dmeqo5jp5on4f2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056409113251-bglp1khlj6ab6s301dmeqo5jp5on4f2d</string>
	<key>API_KEY</key>
	<string>AIzaSyDR5lPHb-lbxd7s6g35BOHvo51zvWGg-mk</string>
	<key>GCM_SENDER_ID</key>
	<string>1056409113251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orsapps.orsRemoteCamera.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ors-camera-remote</string>
	<key>STORAGE_BUCKET</key>
	<string>ors-camera-remote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056409113251:ios:bc7ad80c522946d226e516</string>
	<key>DATABASE_URL</key>
	<string>https://ors-camera-remote-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>